
  body {
   background-color: #ffffff;
   font: gotham;
   color: #27332B;
   text-align: center;
  }

  h1 {
   color: #221277;
   text-align: center;
   font: italic 200% gotham;
  }

  p {
 padding: 20px;
 color: #33a8ff;
 text-align: center;
  }

a {
color: #B0E0E6;
}
